[package]
authors = ["sharks <sharks@sharks>"]
edition = "2018"
name = "deku"
version = "0.3.1"
license = "MIT OR Apache-2.0"
repository = "https://github.com/sharksforarms/deku"
keywords = ["deku", "bits", "serialization", "deserialization", "struct"]
categories = ["encoding", "parsing", "no-std"]
description = "bit level serialization/deserialization proc-macro for structs"
readme = "README.md"

[lib]
bench = false

[workspace]
members = [
    "deku-derive"
]

[features]
default = ["std", "bitvec/std"]
std = ["alloc"]
alloc = ["bitvec/alloc"]

[dependencies]
deku_derive = { version = "^0.4.0", path = "deku-derive" }
bitvec = { version = "0.17", default-features = false }

[dev-dependencies]
hex-literal = "0.2"
rstest = "0.6"
criterion = "0.3"

[[bench]]
name = "deku"
harness = false
