[package]
authors = ["sharks <sharks@sharks>"]
edition = "2018"
name = "deku"
version = "0.12.0"
license = "MIT OR Apache-2.0"
repository = "https://github.com/sharksforarms/deku"
keywords = ["deku", "bits", "serialization", "deserialization", "struct"]
categories = ["encoding", "parsing", "no-std"]
description = "bit level serialization/deserialization proc-macro for structs"
readme = "README.md"

[lib]
bench = false

[workspace]
members = [
    "deku-derive"
]

[features]
default = ["std", "const_generics"]
std = ["deku_derive/std", "bitvec/std", "alloc"]
alloc = ["bitvec/alloc"]
const_generics = []

[dependencies]
deku_derive = { version = "^0.12.0", path = "deku-derive", default-features = false}
bitvec = { version = "0.22.1", default-features = false }

[dev-dependencies]
rstest = "0.9"
hexlit = "0.5.0"
criterion = "0.3"
alloc_counter = "0.0.4"
trybuild = "1.0"
rustc-hash = "1.0.0"

[[bench]]
name = "deku"
harness = false
